<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.device.dao.DeviceRepairMapper">
  <resultMap id="BaseResultMap" type="com.management.device.pojo.DeviceRepair">
    <constructor>
      <idArg column="ID" javaType="java.lang.Long" jdbcType="NUMERIC" />
      <arg column="DEVICE_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="DEVICE_TYPE_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="DEVICE_TYPE_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="DEVICE_USER_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="DEVICE_USER_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="STATUS" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="CAUSE" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="BAKUP" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="ADDDATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="EDITDATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    ID, DEVICE_ID, DEVICE_TYPE_ID, DEVICE_TYPE_NAME, DEVICE_USER_ID, DEVICE_USER_NAME, 
    STATUS, CAUSE, BAKUP, ADDDATE, EDITDATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DEVICE_REPAIR
    where ID = #{id,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from DEVICE_REPAIR
    where ID = #{id,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.management.device.pojo.DeviceRepair">
    insert into DEVICE_REPAIR (ID, DEVICE_ID, DEVICE_TYPE_ID, 
      DEVICE_TYPE_NAME, DEVICE_USER_ID, DEVICE_USER_NAME, 
      STATUS, CAUSE, BAKUP, 
      ADDDATE, EDITDATE)
    values (#{id,jdbcType=NUMERIC}, #{deviceId,jdbcType=NVARCHAR}, #{deviceTypeId,jdbcType=INTEGER}, 
      #{deviceTypeName,jdbcType=NVARCHAR}, #{deviceUserId,jdbcType=INTEGER}, #{deviceUserName,jdbcType=NVARCHAR}, 
      #{status,jdbcType=INTEGER}, #{cause,jdbcType=NVARCHAR}, #{bakup,jdbcType=NVARCHAR}, 
      #{adddate,jdbcType=TIMESTAMP}, #{editdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.management.device.pojo.DeviceRepair">
    insert into DEVICE_REPAIR
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="deviceId != null">
        DEVICE_ID,
      </if>
      <if test="deviceTypeId != null">
        DEVICE_TYPE_ID,
      </if>
      <if test="deviceTypeName != null">
        DEVICE_TYPE_NAME,
      </if>
      <if test="deviceUserId != null">
        DEVICE_USER_ID,
      </if>
      <if test="deviceUserName != null">
        DEVICE_USER_NAME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="cause != null">
        CAUSE,
      </if>
      <if test="bakup != null">
        BAKUP,
      </if>
      <if test="adddate != null">
        ADDDATE,
      </if>
      <if test="editdate != null">
        EDITDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=NVARCHAR},
      </if>
      <if test="deviceTypeId != null">
        #{deviceTypeId,jdbcType=INTEGER},
      </if>
      <if test="deviceTypeName != null">
        #{deviceTypeName,jdbcType=NVARCHAR},
      </if>
      <if test="deviceUserId != null">
        #{deviceUserId,jdbcType=INTEGER},
      </if>
      <if test="deviceUserName != null">
        #{deviceUserName,jdbcType=NVARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="cause != null">
        #{cause,jdbcType=NVARCHAR},
      </if>
      <if test="bakup != null">
        #{bakup,jdbcType=NVARCHAR},
      </if>
      <if test="adddate != null">
        #{adddate,jdbcType=TIMESTAMP},
      </if>
      <if test="editdate != null">
        #{editdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.management.device.pojo.DeviceRepair">
    update DEVICE_REPAIR
    <set>
      <if test="deviceId != null">
        DEVICE_ID = #{deviceId,jdbcType=NVARCHAR},
      </if>
      <if test="deviceTypeId != null">
        DEVICE_TYPE_ID = #{deviceTypeId,jdbcType=INTEGER},
      </if>
      <if test="deviceTypeName != null">
        DEVICE_TYPE_NAME = #{deviceTypeName,jdbcType=NVARCHAR},
      </if>
      <if test="deviceUserId != null">
        DEVICE_USER_ID = #{deviceUserId,jdbcType=INTEGER},
      </if>
      <if test="deviceUserName != null">
        DEVICE_USER_NAME = #{deviceUserName,jdbcType=NVARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="cause != null">
        CAUSE = #{cause,jdbcType=NVARCHAR},
      </if>
      <if test="bakup != null">
        BAKUP = #{bakup,jdbcType=NVARCHAR},
      </if>
      <if test="adddate != null">
        ADDDATE = #{adddate,jdbcType=TIMESTAMP},
      </if>
      <if test="editdate != null">
        EDITDATE = #{editdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.management.device.pojo.DeviceRepair">
    update DEVICE_REPAIR
    set DEVICE_ID = #{deviceId,jdbcType=NVARCHAR},
      DEVICE_TYPE_ID = #{deviceTypeId,jdbcType=INTEGER},
      DEVICE_TYPE_NAME = #{deviceTypeName,jdbcType=NVARCHAR},
      DEVICE_USER_ID = #{deviceUserId,jdbcType=INTEGER},
      DEVICE_USER_NAME = #{deviceUserName,jdbcType=NVARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      CAUSE = #{cause,jdbcType=NVARCHAR},
      BAKUP = #{bakup,jdbcType=NVARCHAR},
      ADDDATE = #{adddate,jdbcType=TIMESTAMP},
      EDITDATE = #{editdate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=NUMERIC}
  </update>

  <select id="findAll" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from DEVICE_REPAIR
    <where>
      <if test="deviceId != null ">
        DEVICE_ID = #{deviceId,jdbcType=NVARCHAR}
      </if>
      <if test="status != null">
        and STATUS = #{status,jdbcType=INTEGER}
      </if>
      <if test="deviceUserId != null">
        and DEVICE_USER_ID = #{deviceUserId,jdbcType=INTEGER}
      </if>
    </where>
    order by DEVICE_ID
  </select>

</mapper>